<div>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <h3 class="usuario" id="user">{{nameUser}}</h3>
                <div class="navbar-header">
                    <a class="navbar-brand" style="color: white;" href="/home">Regresar</a>
                    <a class="navbar-brand" style="color: white;" (click)="signOff()">Cerrar Sesión</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="">
            <div class="col-sm-12">
                {{chat.name}}
            </div>
            <br>
            <br>
            <div class="row" *ngFor="let message of messages">
                <div *ngIf="nameUser == message.userUser; else offUser">
                    <div class="mySMS">
                        <h6>{{message.userUser}}, {{message.date}}, {{message.time}}</h6><br>
                        <p>{{message.message}}</p>
                    </div>
                </div>
                <ng-template #offUser>
                    <div class="SMS">
                        <h6>{{message.userUser}}, {{message.date}}, {{message.time}}</h6><br>
                        <p>{{message.message}}</p>
                    </div>
                </ng-template>
            </div>
        </div>
        <footer>
            <div id="chat-footer">
                <input [(ngModel)]="SMS" id="input-msg" class="input-msg" type="text" name="msg-content" placeholder="Escribe un mensaje" title="input message">
                <button class="btn-sent" type="button" name="button" onclick="sendSMS();">&#8250;</button>
              </div>
        </footer>
    </div>

</div>
