body {
    height: 1000px;
    background-color: #273043;
}

.login {
    font: oblique bold 120%;
    color: #EFF6EE;
    left: 41%;
    top: 21%;
    padding-left: 650px;
    padding-right: 650px;
    padding-top: 200px;
}

h1 {
    text-align: center;
}

button {
    width: 100%;
}

a {
    text-align: right;
}