<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
  <title>Document</title>

</head>
<body>
    <div class="login">
      <div class="form-container">
        <h1 class="title">My account</h1>
  
        <form action="/" class="form">
          <div>
            <label for="first-name" class="label">Primer nombre</label>
            <input type="text" id="first-name" placeholder="Ej: Fernando" class="input input-first-name">
  
            <label for="second-name" class="label">Segundo nombre</label>
            <input type="text" id="second-name" placeholder="Ej: Fernando" class="input input-second-name">
  
            <label for="first-last-name" class="label">Primer Apellido</label>
            <input type="text" id="first-last-name" placeholder="Ej: Contreras" class="input input-first-last-name">
  
            <label for="second-last-name" class="label">Segundo Apellido</label>
            <input type="text" id="second-last-name" placeholder="Ej: Contreras" class="input input-second-last-name">
  
            <label for="phone" class="label">Telefono</label>
            <input type="text" id="phone" placeholder="Ej: 62538468" class="input input-phone">
          </div>
  
          <input type="submit" value="Create" class="primary-button login-button">
        </form>
      </div>
    </div>
  </body>
</html>